<form [formGroup]="form" (ngSubmit)="proximo()">
  <ion-list lines="full">
    <ion-item-divider>
      <ion-label>Dados do Responsável</ion-label>
    </ion-item-divider>

    <div class="input-container">
      <label class="field-label">Nome Completo <span class="required">*</span></label>
      <ion-item>
        <ion-input type="text" formControlName="nomeResponsavel" placeholder="Digite o nome completo" required></ion-input>
      </ion-item>
    </div>

    <div class="input-container">
      <label class="field-label">CPF <span class="required">*</span></label>
      <ion-item>
        <ion-input type="text" formControlName="cpfResponsavel" required placeholder="000.000.000-00" (ionInput)="onCpfInput($event)"></ion-input>
      </ion-item>
    </div>

    <div class="input-container">
      <label class="field-label">Data de Nascimento <span class="required">*</span></label>
      <ion-item>
        <ion-input type="date" formControlName="dataNascimentoResponsavel" required></ion-input>
      </ion-item>
    </div>

    <div class="input-container">
      <label class="field-label">E-mail <span class="required">*</span></label>
      <ion-item>
        <ion-input type="email" formControlName="emailResponsavel" placeholder="Digite o e-mail" required email></ion-input>
      </ion-item>
    </div>

    <div class="input-container">
      <label class="field-label">Telefone <span class="required">*</span></label>
      <ion-item>
        <ion-input type="tel" formControlName="telefoneResponsavel" required placeholder="(00) 00000-0000" (ionInput)="onPhoneInput($event)"></ion-input>
      </ion-item>
    </div>
  </ion-list>

  <ion-button expand="block" type="submit" class="ion-margin-top">
    Próximo <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
</form>