<form [formGroup]="form" (ngSubmit)="proximo()">
  <ion-list lines="full">
    <ion-item-divider>
      <ion-label>Dados do Responsável</ion-label>
    </ion-item-divider>

    <div class="form-group form-field-container">
      <ion-item [class.item-invalid]="isFieldInvalid('nomeResponsavel')" [class.item-valid]="isFieldValid('nomeResponsavel')">
        <ion-label position="floating">Nome completo <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="nomeResponsavel" required></ion-input>
      </ion-item>
      <div *ngIf="getFieldError('nomeResponsavel')" class="error-message">
        {{ getFieldError('nomeResponsavel') }}
      </div>
    </div>

    <div class="form-group form-field-container">
      <ion-item [class.item-invalid]="isFieldInvalid('cpfResponsavel')" [class.item-valid]="isFieldValid('cpfResponsavel')">
        <ion-label position="floating">CPF <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="cpfResponsavel" required (ionInput)="onCpfInput($event)"></ion-input>
      </ion-item>
      <div *ngIf="getFieldError('cpfResponsavel')" class="error-message">
        {{ getFieldError('cpfResponsavel') }}
      </div>
    </div>

    <div class="form-group form-field-container">
      <ion-item [class.item-invalid]="isFieldInvalid('dataNascimentoResponsavel')" [class.item-valid]="isFieldValid('dataNascimentoResponsavel')">
        <ion-label position="floating">Data de nascimento <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="date" formControlName="dataNascimentoResponsavel" required></ion-input>
      </ion-item>
      <div *ngIf="getFieldError('dataNascimentoResponsavel')" class="error-message">
        {{ getFieldError('dataNascimentoResponsavel') }}
      </div>
    </div>

    <div class="form-group form-field-container">
      <ion-item [class.item-invalid]="isFieldInvalid('emailResponsavel')" [class.item-valid]="isFieldValid('emailResponsavel')">
        <ion-label position="floating">E-mail <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="email" formControlName="emailResponsavel" required email></ion-input>
      </ion-item>
      <div *ngIf="getFieldError('emailResponsavel')" class="error-message">
        {{ getFieldError('emailResponsavel') }}
      </div>
    </div>

    <div class="form-group form-field-container">
      <ion-item [class.item-invalid]="isFieldInvalid('telefoneResponsavel')" [class.item-valid]="isFieldValid('telefoneResponsavel')">
        <ion-label position="floating">Telefone <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="tel" formControlName="telefoneResponsavel" required (ionInput)="onPhoneInput($event)"></ion-input>
      </ion-item>
      <div *ngIf="getFieldError('telefoneResponsavel')" class="error-message">
        {{ getFieldError('telefoneResponsavel') }}
      </div>
    </div>
  </ion-list>

  <ion-button expand="block" type="submit" class="ion-margin-top">
    Próximo <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
</form>