<div [formGroup]="form">
  <ion-list lines="full">
    <ion-item-divider color="light">
      <ion-label>Dados do Aluno(a)</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label position="floating">Nome Completo do Aluno(a) <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="nomeAluno" required></ion-input>
    </ion-item>
    <div *ngIf="form.get('nomeAluno')?.invalid && form.get('nomeAluno')?.touched" class="error-message">
      <small *ngIf="form.get('nomeAluno')?.errors?.['required']">Nome do aluno(a) é obrigatório.</small>
    </div>

    <ion-item>
      <ion-label position="floating">Data de Nascimento do Aluno(a) <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="date" formControlName="dataNascimentoAluno" required></ion-input>
    </ion-item>
    <div *ngIf="form.get('dataNascimentoAluno')?.invalid && form.get('dataNascimentoAluno')?.touched"
      class="error-message">
      <small *ngIf="form.get('dataNascimentoAluno')?.errors?.['required']">Data de nascimento é obrigatória.</small>
      <small *ngIf="form.get('dataNascimentoAluno')?.errors?.['idadeInvalida']">Idade fora do permitido (6-10
        anos).</small>
      <small *ngIf="form.get('dataNascimentoAluno')?.errors?.['dataFutura']">Data não pode ser no futuro.</small>
      <small *ngIf="form.get('dataNascimentoAluno')?.errors?.['dataInvalida']">Data inválida.</small>
    </div>

    <ion-item>
      <ion-label position="floating">CPF do Aluno(a) (Opcional)</ion-label>
      <ion-input type="text" formControlName="cpfAluno" placeholder="000.000.000-00"></ion-input>
      <!-- Adicionar validador de CPF se necessário -->
    </ion-item>
    <!-- <div *ngIf="form.get('cpfAluno')?.invalid && form.get('cpfAluno')?.touched" class="error-message">
      <small *ngIf="form.get('cpfAluno')?.errors?.['cpfInvalido']">CPF inválido.</small>
    </div> -->
  </ion-list>

  <ion-button expand="block" (click)="proximo()" class="ion-margin-top" [disabled]="form.invalid">
    Próximo <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
</div>
<div class="error-message-placeholder"></div>