<div [formGroup]="form">
  <ion-list lines="full">
    <ion-item-divider>
      <ion-label>Dados do Aluno(a)</ion-label>
    </ion-item-divider>

    <div class="input-container">
      <label class="field-label">Nome Completo do Aluno(a) <span class="required">*</span></label>
      <ion-item>
        <ion-input type="text" formControlName="nomeAluno" placeholder="Digite o nome completo do aluno" required></ion-input>
      </ion-item>
    </div>

    <div class="input-container">
      <label class="field-label">Data de Nascimento do Aluno(a) <span class="required">*</span></label>
      <ion-item>
        <ion-input type="date" formControlName="dataNascimentoAluno" required></ion-input>
      </ion-item>
    </div>

    <div class="input-container">
      <label class="field-label">Escola do Aluno(a) <span class="required">*</span></label>
      <ion-item>
        <ion-input type="text" formControlName="escola" placeholder="Digite o nome da escola" required></ion-input>
      </ion-item>
    </div>

    <div class="input-container">
      <label class="field-label">CPF do Aluno(a)</label>
      <ion-item>
        <ion-input type="text" formControlName="cpfAluno" placeholder="000.000.000-00" (ionInput)="onCpfInput($event)"></ion-input>
      </ion-item>
    </div>
  </ion-list>

  <ion-button expand="block" (click)="proximo()" class="ion-margin-top" [disabled]="form.invalid">
    Próximo <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
</div>
<div class="error-message-placeholder"></div>