<ion-header>
  <ion-toolbar>
    <ion-title>Documentos para {{ nomeCota }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item *ngFor="let doc of documentosDisponiveis">
        <ion-label>
          <h3>{{ doc.nome }}</h3>
          <p *ngIf="doc.descricao">{{ doc.descricao }}</p>
        </ion-label>
        <ion-toggle slot="end" [formControlName]="doc.id"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar()" color="medium">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirmar()" color="success">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
